/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* リセットCSS ここまで */

:root{
    --monospace:"Lucida Console",Consolas,"Courier",monospace;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Yu gothic UI";
    background-color: #f5f5f5;
}

.wrapper {
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.container {
    padding: 0 10px;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

/* ヘッダー */
header{
    color: #737373;
}

header a {
    text-decoration: none;
    color: #737373;
}

/* タイトル */

.site-title{
    height: 120px;
    display: table-cell;
    vertical-align: middle;
}

.site-title a{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
}

.site-title span{
    color: #ED8F5C;
}

/* ナビゲーションバー */

nav ul{
    height: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

nav ul li{
    padding: 0 auto;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-size: 13pt;
}

/* メイン */

main{
    margin-top: 20px;
    line-height: 1.35;
}

main .wrapper{
    display: flex;
}

.articles {
    width: 100%;
}

.sidebar{
    width: 250px;
}

.border_outer {
    padding: 7px;
    background-color: #969696;
    border-radius: 22px;
}

.border_inner {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

.article_outer {
    margin-bottom: 20px;
}

.article_summary{
    display: flex;
    min-width: 400px;
}

.article_summary .thumbnail img{
    border: black solid 1px;
    margin-right:10px;
    height: 150px;
}

.article_summary_header {
    margin-bottom: 10px;
}

.article_summary_header a{
    text-decoration: none;
    color: black;
}

.article_summary_footer {
    margin-top: 10px;
}

.article h1, .article h2, .article p {
    margin: 20px 0 ;
}

.article section {
    padding: 0 10px;
}

.article_main {
    padding: 0 10px;
}

pre {
    margin: 20px;
}

code:not(.hljs) {
    text-align: left;
    vertical-align: initial;
    font-size: 0.9em;
    border-radius: 3px;
    border: 1px solid #e7eaed;
    background-color: #f3f4f4;
    padding: 0 2px;
    font-family: var(--monospace);
}

/* コメント */
.article_comments h3{
    font-size: 1.3em;
    font-weight: bold;
}

.article_comments ol{
    list-style-type: decimal;
    margin-left: 20px;
}

.comment-respond {
    margin-top: 20px;
}

/* カテゴリーページ用 */
.category_title {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}

/* 404ページ用 */
.noarticles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noarticles h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.noarticles img{
    margin: 20px 0;
}

/* サイドバー */

.sidemenu {
    margin-top: 20px;
}

.dinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dinner h1{
    font-size: 1.2em;
}

.dinner a{
    text-decoration: none;
    color: black;
}

.dinner img{
    border: black solid 1px;
    margin-top: 10px;
}

/* フッター */
.footer p{
    color: #737373;
}
  
.footer a{
    text-decoration: none;
    color: #737373;
}